<a href="https://colab.research.google.com/github/St4rLighr/anime_forecasting/blob/colab_codes/anilist_2019_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the cleaning of the dataset for the Anime popularity forecasting project.

# Cleaning

In [ ]:
#first we import libraries to use
import pandas as pd
from google.colab import auth
import pandas_gbq

# Will collect credentials
auth.authenticate_user()

In [ ]:
# Query Bigquery
# query = "SELECT * FROM `xxx`"
# anilist_df = pandas_gbq.read_gbq(query, project_id="xxx")

In [ ]:
# anilist_df

In [ ]:
anime_df = pd.read_csv('anime_dataset_export.csv')

In [ ]:
anime_df

,id,idMal,title,format,episodes,duration,status,startDay,startMonth,startYear,...,statusDistribution_score,statusDistribution_status,rankings_allTime,rankings_rank,rankings_id,rankings_context,rankings_format,rankings_type,rankings_year,tags
0,1,1.0,Cowboy Bebop,TV,26.0,24.0,FINISHED,3.0,4.0,1998.0,...,31960,CURRENT,True,48.0,48.0,highest rated all time,TV,RATED,NaN,"['Space', 'Crime', 'Episodic', 'Ensemble Cast'..."
1,5,5.0,Cowboy Bebop: The Movie - Knockin' on Heaven's...,MOVIE,1.0,115.0,FINISHED,1.0,9.0,2001.0,...,972,CURRENT,True,48.0,14705.0,highest rated all time,MOVIE,RATED,NaN,"['Terrorism', 'Primarily Adult Cast', 'Philoso..."
2,6,6.0,Trigun,TV,26.0,24.0,FINISHED,1.0,4.0,1998.0,...,7780,CURRENT,True,282.0,282.0,highest rated all time,TV,RATED,NaN,"['Guns', 'Fugitive', 'Male Protagonist', 'Phil..."
3,7,7.0,Witch Hunter ROBIN,TV,26.0,25.0,FINISHED,2.0,7.0,2002.0,...,726,CURRENT,False,24.0,2011.0,highest rated,TV,RATED,2002.0,"['Female Protagonist', 'Police', 'Magic', 'Urb..."
4,8,8.0,Beet the Vandel Buster,TV,52.0,23.0,FINISHED,30.0,9.0,2004.0,...,134,CURRENT,False,57.0,2707.0,highest rated,TV,RATED,2004.0,"['Shounen', 'Spearplay', 'Swordplay']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7004,21892,33795.0,Mahou Shoujo Nante Mouiidesukara Second Season,TV_SHORT,12.0,4.0,FINISHED,5.0,10.0,2016.0,...,157,CURRENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Magic', 'Cute Girls Doing Cute Things', 'Pri..."
7005,21893,33221.0,Mobile Suit Gundam Thunderbolt: December Sky,MOVIE,1.0,69.0,FINISHED,25.0,6.0,2016.0,...,139,CURRENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Military', 'War', 'Space', 'Primarily Adult ..."
7006,21894,33797.0,NaN,TV,12.0,24.0,FINISHED,9.0,4.0,2017.0,...,241,CURRENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Amnesia', 'Full CGI', 'Real Robot', 'Politic..."
7007,21895,33803.0,SENGOKUCHOJYUGIGA,TV_SHORT,13.0,3.0,FINISHED,9.0,10.0,2016.0,...,77,CURRENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['Historical', 'Primarily Adult Cast', 'Animal..."
7008,21896,33811.0,Teekyuu 8,TV_SHORT,12.0,2.0,FINISHED,5.0,10.0,2016.0,...,184,CURRENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['School', 'Surreal Comedy', 'Episodic', 'Tenn..."

In [ ]:
anime_df.shape

(7009, 30)

In [ ]:
#checking for duplicates
anime_df.duplicated().sum()

0

## Dealing with nulls

In [ ]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         7009 non-null   int64
 1   idMal                      6981 non-null   float64
 2   title                      3678 non-null   object
 3   format                     7009 non-null   object
 4   episodes                   6990 non-null   float64
 5   duration                   6983 non-null   float64
 6   status                     7009 non-null   object
 7   startDay                   6699 non-null   float64
 8   startMonth                 6708 non-null   float64
 9   startYear                  6990 non-null   float64
 10  meanScore                  7000 non-null   float64
 11  averageScore               6410 non-null   float64
 12  popularity                 7009 non-null   int64
 13  favourites                 7009 non-null   int64
 14  genres                     7009 non-null   object
 15  site                       2265 non-null   object
 16  isDisabled                 2265 non-null   object
 17  type                       2265 non-null   object
 18  scoreDistribution_amount   7009 non-null   int64
 19  scoreDistribution_score    7009 non-null   int64
 20  statusDistribution_score   7009 non-null   int64
 21  statusDistribution_status  7009 non-null   object
 22  rankings_allTime           3714 non-null   object
 23  rankings_rank              3714 non-null   float64
 24  rankings_id                3714 non-null   float64
 25  rankings_context           3714 non-null   object
 26  rankings_format            3714 non-null   object
 27  rankings_type              3714 non-null   object
 28  rankings_year              3142 non-null   float64
 29  tags                       7009 non-null   object
dtypes: float64(11), int64(6), object(13)
memory usage: 1.6+ MB

In [ ]:
#checking for nulls
anime_df.isnull().sum()

id                              0
idMal                          28
title                        3331
format                          0
episodes                       19
duration                       26
status                          0
startDay                      310
startMonth                    301
startYear                      19
meanScore                       9
averageScore                  599
popularity                      0
favourites                      0
genres                          0
site                         4744
isDisabled                   4744
type                         4744
scoreDistribution_amount        0
scoreDistribution_score         0
statusDistribution_score        0
statusDistribution_status       0
rankings_allTime             3295
rankings_rank                3295
rankings_id                  3295
rankings_context             3295
rankings_format              3295
rankings_type                3295
rankings_year                3867
tags                            0
dtype: int64

In [ ]:
#dropping nulls in title column first

anime_df.dropna(subset="title",inplace=True)

In [ ]:
anime_df.dropna(subset="idMal",inplace=True) #contains join key

### Changing dtypes

In [ ]:
#int64 columns - idMal[1], episodes[4], duration[5],rankings_rank[23]

#date column - startDay[7], startMonth[8], startYear[9]

#float columns - meanScore,averageScore

In [ ]:
cols_to_format = [anime_df.columns[1]] + anime_df.columns[4:6].tolist() + anime_df.columns[7:10].tolist() + [anime_df.columns[23]]
for col in cols_to_format:
    anime_df[col] = anime_df[col].astype('Int64')

In [ ]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3668 entries, 0 to 7008
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3668 non-null   int64
 1   idMal                      3668 non-null   Int64
 2   title                      3668 non-null   object
 3   format                     3668 non-null   object
 4   episodes                   3659 non-null   Int64
 5   duration                   3660 non-null   Int64
 6   status                     3668 non-null   object
 7   startDay                   3583 non-null   Int64
 8   startMonth                 3584 non-null   Int64
 9   startYear                  3664 non-null   Int64
 10  meanScore                  3666 non-null   float64
 11  averageScore               3543 non-null   float64
 12  popularity                 3668 non-null   int64
 13  favourites                 3668 non-null   int64
 14  genres                     3668 non-null   object
 15  site                       1518 non-null   object
 16  isDisabled                 1518 non-null   object
 17  type                       1518 non-null   object
 18  scoreDistribution_amount   3668 non-null   int64
 19  scoreDistribution_score    3668 non-null   int64
 20  statusDistribution_score   3668 non-null   int64
 21  statusDistribution_status  3668 non-null   object
 22  rankings_allTime           2255 non-null   object
 23  rankings_rank              2255 non-null   Int64
 24  rankings_id                2255 non-null   float64
 25  rankings_context           2255 non-null   object
 26  rankings_format            2255 non-null   object
 27  rankings_type              2255 non-null   object
 28  rankings_year              1914 non-null   float64
 29  tags                       3668 non-null   object
dtypes: Int64(7), float64(4), int64(6), object(13)
memory usage: 913.4+ KB

### Filling nulls with Mode/Mean

In [ ]:
#columns to add mode - episodes (drop??) -- keep ongoing anime in new variable, delete if it's just blank
#columns to add avg - startDay, startMonth, startYear,rankings_rank
#dropping rankings columns (exclude: rankings_rank,rankings_context) -- has more than 50% that's empty, isDisabled
#replace nan rankings_context, sites and type with unknown
#replace date and month with 01

In [ ]:
anime_df.dropna(subset="startYear",inplace=True) #dropping NaN start year as it isnt much missing

In [ ]:
anime_df[['rankings_context', 'site','type']] = anime_df[['rankings_context', 'site','type']].fillna('Unknown') #unknown added to obj columns

In [ ]:
# Drop columns multiple column
anime_df = anime_df.drop(['averageScore','isDisabled', 'rankings_allTime','rankings_id', 'rankings_format','rankings_type', 'rankings_year'], axis=1)

In [ ]:
anime_df.isnull().sum()

id                              0
idMal                           0
title                           0
format                          0
episodes                        6
duration                        4
status                          0
startDay                       81
startMonth                     80
startYear                       0
meanScore                       0
popularity                      0
favourites                      0
genres                          0
site                            0
type                            0
scoreDistribution_amount        0
scoreDistribution_score         0
statusDistribution_score        0
statusDistribution_status       0
rankings_rank                1410
rankings_context                0
tags                            0
dtype: int64

In [ ]:
anime_df[['startDay', 'startMonth']] = anime_df[['startDay','startMonth']].fillna(value=1)

In [ ]:
anime_df.isnull().sum()

id                              0
idMal                           0
title                           0
format                          0
episodes                        6
duration                        4
status                          0
startDay                        0
startMonth                      0
startYear                       0
meanScore                       0
popularity                      0
favourites                      0
genres                          0
site                            0
type                            0
scoreDistribution_amount        0
scoreDistribution_score         0
statusDistribution_score        0
statusDistribution_status       0
rankings_rank                1410
rankings_context                0
tags                            0
dtype: int64

In [ ]:
anime_df.dropna(subset="duration", inplace=True) #dropping NaN duration

In [ ]:
anime_df.isnull().sum()

id                              0
idMal                           0
title                           0
format                          0
episodes                        6
duration                        0
status                          0
startDay                        0
startMonth                      0
startYear                       0
meanScore                       0
popularity                      0
favourites                      0
genres                          0
site                            0
type                            0
scoreDistribution_amount        0
scoreDistribution_score         0
statusDistribution_score        0
statusDistribution_status       0
rankings_rank                1406
rankings_context                0
tags                            0
dtype: int64

In [ ]:
import datetime

In [ ]:
# anime_df[['startDay', 'startMonth']] replace nulls with 01 -- fillna()
# drop null startyear

In [ ]:
anime_df['concate_date'] = anime_df[['startDay', 'startMonth','startYear']].astype(str).apply(lambda x: '-'.join(x), axis=1)

In [ ]:
anime_df['concate_date']

0        3-4-1998
1        1-9-2001
2        1-4-1998
3        2-7-2002
4       30-9-2004
          ...
7003    24-6-2016
7004    5-10-2016
7005    25-6-2016
7007    9-10-2016
7008    5-10-2016
Name: concate_date, Length: 3660, dtype: object

In [ ]:
anime_df['start_date'] = pd.to_datetime(anime_df['concate_date'],format='%d-%m-%Y')

In [ ]:
anime_df['start_date'].info()

<class 'pandas.core.series.Series'>
Index: 3660 entries, 0 to 7008
Series name: start_date
Non-Null Count  Dtype
--------------  -----
3660 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 57.2 KB

In [ ]:
# Dropping the temporary concate_date column
anime_df = anime_df.drop(columns=['concate_date'])

In [ ]:
anime_df.isnull().sum()

id                              0
idMal                           0
title                           0
format                          0
episodes                        6
duration                        0
status                          0
startDay                        0
startMonth                      0
startYear                       0
meanScore                       0
popularity                      0
favourites                      0
genres                          0
site                            0
type                            0
scoreDistribution_amount        0
scoreDistribution_score         0
statusDistribution_score        0
statusDistribution_status       0
rankings_rank                1406
rankings_context                0
tags                            0
start_date                      0
dtype: int64

In [ ]:
anime_df_drop_ranks = anime_df.drop('rankings_rank', axis=1)

In [ ]:
anime_df_drop_ranks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3660 entries, 0 to 7008
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3660 non-null   int64
 1   idMal                      3660 non-null   Int64
 2   title                      3660 non-null   object
 3   format                     3660 non-null   object
 4   episodes                   3654 non-null   Int64
 5   duration                   3660 non-null   Int64
 6   status                     3660 non-null   object
 7   startDay                   3660 non-null   Int64
 8   startMonth                 3660 non-null   Int64
 9   startYear                  3660 non-null   Int64
 10  meanScore                  3660 non-null   float64
 11  popularity                 3660 non-null   int64
 12  favourites                 3660 non-null   int64
 13  genres                     3660 non-null   object
 14  site                       3660 non-null   object
 15  type                       3660 non-null   object
 16  scoreDistribution_amount   3660 non-null   int64
 17  scoreDistribution_score    3660 non-null   int64
 18  statusDistribution_score   3660 non-null   int64
 19  statusDistribution_status  3660 non-null   object
 20  rankings_context           3660 non-null   object
 21  tags                       3660 non-null   object
 22  start_date                 3660 non-null   datetime64[ns]
dtypes: Int64(6), datetime64[ns](1), float64(1), int64(6), object(9)
memory usage: 707.7+ KB

In [ ]:
dropped_eps_rank = anime_df.dropna(subset="episodes") #removing rank column anime_df.drop(['rankings_rank'], axis=1)

In [ ]:
dropped_eps_rank = dropped_eps_rank.drop('rankings_rank', axis=1)

# dropped_eps_rank.drop(['rankings_rank'], axis=1,inplace=True)

In [ ]:
dropped_eps_rank.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3654 entries, 0 to 7008
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3654 non-null   int64
 1   idMal                      3654 non-null   Int64
 2   title                      3654 non-null   object
 3   format                     3654 non-null   object
 4   episodes                   3654 non-null   Int64
 5   duration                   3654 non-null   Int64
 6   status                     3654 non-null   object
 7   startDay                   3654 non-null   Int64
 8   startMonth                 3654 non-null   Int64
 9   startYear                  3654 non-null   Int64
 10  meanScore                  3654 non-null   float64
 11  popularity                 3654 non-null   int64
 12  favourites                 3654 non-null   int64
 13  genres                     3654 non-null   object
 14  site                       3654 non-null   object
 15  type                       3654 non-null   object
 16  scoreDistribution_amount   3654 non-null   int64
 17  scoreDistribution_score    3654 non-null   int64
 18  statusDistribution_score   3654 non-null   int64
 19  statusDistribution_status  3654 non-null   object
 20  rankings_context           3654 non-null   object
 21  tags                       3654 non-null   object
 22  start_date                 3654 non-null   datetime64[ns]
dtypes: Int64(6), datetime64[ns](1), float64(1), int64(6), object(9)
memory usage: 835.6+ KB

### Expanding Columns - Genres and Tags

Available Dataframes:

anime_df

anime_df_drop_ranks

dropped_eps_rank

In [ ]:
anime_df.info() #columns to expand genres, tags

<class 'pandas.core.frame.DataFrame'>
Index: 3660 entries, 0 to 7008
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         3660 non-null   int64
 1   idMal                      3660 non-null   Int64
 2   title                      3660 non-null   object
 3   format                     3660 non-null   object
 4   episodes                   3654 non-null   Int64
 5   duration                   3660 non-null   Int64
 6   status                     3660 non-null   object
 7   startDay                   3660 non-null   Int64
 8   startMonth                 3660 non-null   Int64
 9   startYear                  3660 non-null   Int64
 10  meanScore                  3660 non-null   float64
 11  popularity                 3660 non-null   int64
 12  favourites                 3660 non-null   int64
 13  genres                     3660 non-null   object
 14  site                       3660 non-null   object
 15  type                       3660 non-null   object
 16  scoreDistribution_amount   3660 non-null   int64
 17  scoreDistribution_score    3660 non-null   int64
 18  statusDistribution_score   3660 non-null   int64
 19  statusDistribution_status  3660 non-null   object
 20  rankings_rank              2254 non-null   Int64
 21  rankings_context           3660 non-null   object
 22  tags                       3660 non-null   object
 23  start_date                 3660 non-null   datetime64[ns]
dtypes: Int64(7), datetime64[ns](1), float64(1), int64(6), object(9)
memory usage: 739.9+ KB

In [ ]:
def expand_column(column_name):
    return column_name.strip("[]").replace("'", "").split(", ")

In [ ]:
# Create a copy of the original dataframes
anime_df_copy = anime_df.copy()
anime_df_drop_ranks_copy = anime_df_drop_ranks.copy()
dropped_eps_rank_copy = dropped_eps_rank.copy()

In [ ]:
anime_df_copy['genres'] = anime_df_copy['genres'].apply(expand_column)
anime_df_copy['tags'] = anime_df_copy['tags'].apply(expand_column)

In [ ]:
anime_df_exploded = anime_df_copy.explode('genres').explode('tags')

In [ ]:
anime_df_drop_ranks_copy['genres'] = anime_df_drop_ranks_copy['genres'].apply(expand_column)
anime_df_drop_ranks_copy['tags'] = anime_df_drop_ranks_copy['tags'].apply(expand_column)

In [ ]:
anime_df_drop_ranks_exploded = anime_df_drop_ranks_copy.explode('genres').explode('tags')

In [ ]:
dropped_eps_rank_copy['genres'] = dropped_eps_rank_copy['genres'].apply(expand_column)
dropped_eps_rank_copy['tags'] = dropped_eps_rank_copy['tags'].apply(expand_column)

In [ ]:
dropped_eps_rank_exploded = dropped_eps_rank_copy.explode('genres').explode('tags')

In [ ]:
dropped_eps_rank_exploded

,id,idMal,title,format,episodes,duration,status,startDay,startMonth,startYear,...,genres,site,type,scoreDistribution_amount,scoreDistribution_score,statusDistribution_score,statusDistribution_status,rankings_context,tags,start_date
0,1,1,Cowboy Bebop,TV,26,24,FINISHED,3,4,1998,...,Action,Hulu,STREAMING,540,10,31960,CURRENT,highest rated all time,Space,1998-04-03
0,1,1,Cowboy Bebop,TV,26,24,FINISHED,3,4,1998,...,Action,Hulu,STREAMING,540,10,31960,CURRENT,highest rated all time,Crime,1998-04-03
0,1,1,Cowboy Bebop,TV,26,24,FINISHED,3,4,1998,...,Action,Hulu,STREAMING,540,10,31960,CURRENT,highest rated all time,Episodic,1998-04-03
0,1,1,Cowboy Bebop,TV,26,24,FINISHED,3,4,1998,...,Action,Hulu,STREAMING,540,10,31960,CURRENT,highest rated all time,Ensemble Cast,1998-04-03
0,1,1,Cowboy Bebop,TV,26,24,FINISHED,3,4,1998,...,Action,Hulu,STREAMING,540,10,31960,CURRENT,highest rated all time,Primarily Adult Cast,1998-04-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7008,21896,33811,Teekyuu 8,TV_SHORT,12,2,FINISHED,5,10,2016,...,Sports,Unknown,Unknown,35,10,184,CURRENT,Unknown,Primarily Female Cast,2016-10-05
7008,21896,33811,Teekyuu 8,TV_SHORT,12,2,FINISHED,5,10,2016,...,Sports,Unknown,Unknown,35,10,184,CURRENT,Unknown,Cute Girls Doing Cute Things,2016-10-05
7008,21896,33811,Teekyuu 8,TV_SHORT,12,2,FINISHED,5,10,2016,...,Sports,Unknown,Unknown,35,10,184,CURRENT,Unknown,Aliens,2016-10-05
7008,21896,33811,Teekyuu 8,TV_SHORT,12,2,FINISHED,5,10,2016,...,Sports,Unknown,Unknown,35,10,184,CURRENT,Unknown,School Club,2016-10-05
7008,21896,33811,Teekyuu 8,TV_SHORT,12,2,FINISHED,5,10,2016,...,Sports,Unknown,Unknown,35,10,184,CURRENT,Unknown,Gyaru,2016-10-05

## Tables to export and description

anime_df: contains column with null episodes (6 eps missing) and rankings_rank

anime_df_drop_ranks: contains column with null episodes (6 eps missing) but rankings_rank is dropped/removed

dropped_eps_rank: null episodes and rankings_rank are dropped/removed

anime_df_exploded: sames as anime_df but genres and tags are expanded

anime_df_drop_ranks_exploded: sames as anime_df_drop_ranks but genres and tags are expanded

dropped_eps_rank_exploded: sames as dropped_eps_rank but genres and tags are expanded

In [ ]:
anime_df.to_csv("2019_anime_dataset_contains_eps_ranks.csv", index=False)

In [ ]:
anime_df_drop_ranks.to_csv("2019_anime_dataset_contains_eps.csv", index=False)

In [ ]:
dropped_eps_rank.to_csv("2019_anime_dataset_excludes_eps_ranks.csv", index=False)

In [ ]:
anime_df_exploded.to_csv("2019_anime_exploded_contains_eps_ranks.csv", index=False)

In [ ]:
anime_df_drop_ranks_exploded.to_csv("2019_anime_exploded_contains_eps.csv", index=False)

In [ ]:
dropped_eps_rank_exploded.to_csv("2019_anime_exploded_excludes_eps_ranks.csv", index=False)